/**
Images are 312x231px.
*/
.resultContainer {
  width: 300px;
  margin-bottom: 50px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  cursor: pointer;
}

.resultContainer h2 {
  text-align: center;
  font-weight: normal;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}
